flask==3.0.3
gunicorn==22.0.0

ultralytics==8.2.103
opencv-python-headless==4.10.0.84

deepface==0.0.93
tensorflow-cpu==2.15.0
tf-keras==2.15.1

yt-dlp==2025.1.26

reportlab==4.2.5
numpy==1.26.4
pillow==10.4.0
psutil==6.0.0
pyyaml==6.0.2
requests==2.32.3
scipy==1.13.1
matplotlib==3.9.0
tqdm==4.66.4
lap==0.5.12
